---
repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: 6eaad039603a4de39fddd1cf5f727391efe9974e  # frozen: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/adrienverge/yamllint.git
    rev: cba56bcde1fdd01c1deb3f945e69764c291a6530  # frozen: v1.38.0
    hooks:
      - id: yamllint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 76b3d32d3f4b965e1d6425253c59407420ae2c43  # frozen: v0.47.0
    hooks:
      - id: markdownlint
  - repo: https://github.com/ansible/ansible-lint.git
    rev: 7f6abc5ef97d0fb043a0f3d416dfbc74399fbda0  # frozen: v26.1.1
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        name: Ansible Lint
        description: Run configurations on .ansible-lint file
        entry: python3 -m ansiblelint --force-color
        always_run: false
        additional_dependencies:
          - "jmespath"
