---
- name: "Add Proxmox user {{ item.username }} to role {{ role }}"
  vars:
    jq_query: >-
      [?
        roleid=='{{ role }}' &&
        ugid=='{{ item.username }}@pve' &&
        path=='/' &&
        type=='user'
      ]
  when: not(proxmox_acl | list | json_query(jq_query))
  ansible.builtin.command:
    cmd: >-
      pveum aclmod /
        -user {{ item.username }}@pve
        -role {{ role }}
  changed_when: true
