---
- name: Set image name fact
  ansible.builtin.set_fact:
    image_name: "{{ image.meta.image_name }}"

- name: "Download cloud image {{ image_name }}"
  ansible.builtin.get_url:
    url: "{{ image.meta.image_url }}"
    checksum: >-
      {{
        image.meta.image_checksum_type | lower
      }}:{{
        image.meta.image_checksum
      }}
    dest: "/tmp/{{ image_name }}"
    mode: 640

- name: "Decompress image if compressed (xz)"
  when: image.meta.image_name.endswith(".xz")
  block:
    - name: Rename image
      ansible.builtin.set_fact:
        image_name: "{{ image_name | regex_replace('\\.xz$', '') }}"

    - name: "Decompress image {{ image.meta.image_name }}"
      ansible.builtin.command:
        cmd: "xz --force --decompress /tmp/{{ image.meta.image_name }}"
      changed_when: true

    - name: "Delete the compressed image on disk {{ image.meta.image_name }}"
      ansible.builtin.file:
        path: "/tmp/{{ image.meta.image_name }}"
        state: absent

- name: "Deleting outdated templates with name: {{ image.meta.template_name }}"
  vars:
    query2: "[?name==`{{ image.meta.template_name }}`]"
  when: existing_proxmox_templates.meta | json_query(query2) | length > 0
  loop: "{{ existing_proxmox_templates.meta | json_query(query2) }}"
  loop_control:
    loop_var: vm
    label: "{{ vm.vmid }}"
  ansible.builtin.command:
    cmd: "qm destroy {{ vm.vmid }}"
  changed_when: true

- name: Get next available VM ID
  ansible.builtin.command:
    cmd: pvesh get /cluster/nextid
  register: next_id
  changed_when: false

- name: "Create VM {{ image.meta.template_name }} (ID={{ next_id.stdout }})"
  ansible.builtin.command:
    # yamllint disable rule:line-length
    cmd: >-
      qm  create      {{ next_id.stdout }}
          --bios      ovmf
          --core      2
          --cpu       cputype=x86-64-v3
          --ide2      {{ proxmox_template_datastore }}:cloudinit
          --ipconfig0 ip=dhcp,ip6=dhcp
          --machine   q35
          --memory    2048
          --name      {{ image.meta.template_name }}
          --net0      virtio,bridge=vmbr0
          --serial0   socket
          --vga       serial0
          --tags      checksum-{{ image.meta.image_checksum }},version-{{ image.meta.image_version }}
    # yamllint enable rule:line-length
  changed_when: true

# yamllint disable-line rule:line-length
- name: "Import image {{ image_name }} as disk of {{ image.meta.template_name }}"
  ansible.builtin.command:
    # yamllint disable-line rule:line-length
    cmd: "qm importdisk {{ next_id.stdout }} /tmp/{{ image_name }} {{ proxmox_template_datastore }}"
  changed_when: true

- name: "Mount image disk to {{ image.meta.template_name }}"
  ansible.builtin.command:
    # yamllint disable rule:line-length
    cmd: >-
      qm  set       {{ next_id.stdout }}
          --scsihw  virtio-scsi-pci
          --scsi0   {{ proxmox_template_datastore }}:vm-{{ next_id.stdout }}-disk-0
          --boot      c
          --bootdisk  scsi0
    # yamllint enable rule:line-length
  changed_when: true

- name: "Turn VM {{ next_id.stdout }} into a template"
  ansible.builtin.command:
    cmd: "qm template {{ next_id.stdout }}"
  changed_when: true

- name: "Delete the image on disk {{ image_name }}"
  ansible.builtin.file:
    path: "/tmp/{{ image_name }}"
    state: absent
