---
# TODO: Check to make sure privileges match
- name: "Create role {{ item.name }} to Proxmox"
  vars:
    jq_query: "[?roleid=='{{ item.name }}']"
  when: not(existing_proxmox_roles | json_query(jq_query))
  ansible.builtin.command:
    cmd: >-
      /usr/sbin/pveum role add {{ item.name }}
        -privs '{{ item.privileges | join(' ') }}'
  changed_when: true
