---
# handlers file for proxmox
- name: Restart pveproxy
  ansible.builtin.service:
    name: pveproxy
    state: restarted

- name: Update grub
  ansible.builtin.command:
    cmd: /usr/sbin/proxmox-boot-tool refresh
  changed_when: true
